:root {
  --indigo-dye: #005081;
  --light-blue: #b7dbe4;
  --ghost-white: #e8e9f3;
  --silver: #cecece;
  --liver: #654236;
  --alva: #795740;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--ghost-white);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 10em;
}

header {
  background-color: var(--indigo-dye);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.5em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0.2em rgba(00, 00, 00, 0.75);
  margin-bottom: 3em;
}

footer {
  height: 5em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--alva);
}

header > nav {
  display: flex;
  justify-content: space-evenly;
  padding-right: 5em;
}

header > h1 {
  color: var(--ghost-white);
}

.navLink {
  color: var(--ghost-white);
  margin: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.navLink:hover {
  margin: 1rem;
  text-decoration: underline;
}

.loginButton {
  height: 3rem;
  width: 6rem;
  background-color: var(--ghost-white);
  color: var(--indigo-dye);
  border: none;
  font-size: 1.2rem;
  border-radius: 1.25em;
  box-shadow: 0.05em 0.1em 0.15em rgba(00, 00, 00, 0.55);
}

.loginButton:hover {
  box-shadow: inset 0.05em 0.1em 0.15em rgba(00, 00, 00, 0.75);
  filter: brightness(0.95);
  font-size: 1.15rem;
  padding: 0.05em 0 0 0.1em;
}

.challenge {
  border: 0.3em solid beige;
  border-radius: 1.5em;
  padding: 1em;
  margin: auto;
  max-width: 20em;
  list-style-type: none;
}

.hooder {
  margin-bottom: 3em;
}
